fastapi==0.128.0
uvicorn==0.40.0
sqlalchemy==2.0.45
alembic==1.17.2
asyncpg==0.31.0
psycopg2-binary==2.9.11
pgvector==0.4.2
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
python-jose==3.5.0
passlib==1.7.4
python-multipart==0.0.21
cloudinary==1.44.1
langchain==1.2.6
langchain-community==0.4.1
langchain-google-genai==4.2.0
langchain-groq==1.1.1
langchain-text-splitters==1.1.0
slowapi==0.1.9
httpx==0.28.1
requests==2.32.5
